{% extends 'base.html' %}

{% block content%}

<div class="text-center">
        <!-- Card -->
        <div class="card" style="padding:40px">
        <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                <h2 class="card-title">FullThrottle Labs Challenge</h2>

                <!-- Text -->
                <div class="row">
                               <div class="col"></div>
                               <div class="col">
                                    <div class="card" style="padding:40px">
                                    <!-- Card content -->
                                        <div class="card-body text-center">
                                            <p>Design and Implement a Django application with User and ActivityPeriod models, write
                                            a custom management command to populate the database with some dummy data, and design
                                                an API to serve that data in the json format given above.</p>
                                            <!-- Button -->
                                        </div>

                                    </div>
                               </div>
                               <div class="col"></div>
                </div>
               


                <!-- Button -->
            </div>

        </div>

        <div class="card" style="padding:40px">
        <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                

                <!-- Text -->
                <div class="row">

                               <div class="col"></div>
                               <div class="col">
                               <h2 class="card-title">JSON FILE</h2>
                                    <div class="card" style="padding:40px">
                                    <!-- Card content -->
                                        <div class="card-body text-center">
                                            <a href="https://drive.google.com/file/d/1xZa3UoXZ3uj2j0Q7653iBp1NrT0gKj0Y/view">JSON File</a>
                                            <!-- Button -->
                                        </div>

                                    </div>
                               </div>
                               <div class="col"></div>
                </div>
               


                <!-- Button -->
            </div>

        </div>
        <!-- Card -->
    </div>
{% endblock %}

