{% extends 'base.html' %}

{% block content%}

<div class="text-center">
        <!-- Card -->
        <div class="card" style="padding:40px">
        <!-- Card content -->
            <div class="card-body text-center">

                <!-- Title -->
                <h2 class="card-title"><a>Success!!</a></h2>
                <!-- Text -->
                <button type="button" class="btn btn-outline-secondary waves-effect px-3"><h3>{{username}}</h3></button><br>
                <h4>Users Have been Generated Successfully</h4>
                <!-- Button -->
            </div>

        </div>
        <!-- Card -->
    </div>
{% endblock %}

